.aboutContainer {
  display: flex;
  justify-content: center;
  
  div {
    display: none;
    max-width: 60rem;
    height: 13rem;
    
  }
  img {
    position: relative;
    right: 4rem;
    width: 20rem;
   z-index: 2;
    
  }
  div::after {
    display: block;
    position: relative;
    left:2.2rem;
    bottom: 21.4rem;
    content:"";
    width: 13rem;
    height: 13rem;
    border:dotted 1rem #722c85;
    z-index: 1;
    
  }
}

@media (min-width: 1024px) {
  .aboutContainer div {
    display: block;
  }
}
