.home {
  position: absolute;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  left:0;
  width:100vw;
  height:100vh;
  min-height: 33rem;
  top:1rem;
}
@media (min-width: 1024px) {
  .home {
    flex-direction: row;
    justify-content: center;
    gap:10rem;
    padding-top:5rem;
  }
}
