@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.projects {
  position: relative;
  font-family: "Oswald", sans-serif;
  bottom: 8rem;
}
.title div{
  padding-bottom:0;
}
