@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

.techStack {
  position: relative;
  bottom: 11rem;
  font-family: "Oswald", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0 0.5rem;
  p{
    position: relative;
    bottom:1.5rem;
  }
}


