@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

%circle {
  display: block;
  position: relative;
  border-radius: 50%;
  opacity: 0.15;
  transform: translateX(650%);
  content: "";
  border: solid 1rem;
}
.description {
  font-family: "Oswald", sans-serif;
  position: relative;
  text-align: justify;
  bottom: 25rem;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 0 1rem 4rem 1rem;
  z-index: 3;
  opacity:0;
 
  span:before {
    @extend %circle;
    top: 10rem;
    left: 0.5rem;
    width: 8rem;
    height: 8rem;
    border-color: #743ad5;
    transform: translateX(650%);
  }
}
.displayed{
  @extend .description;
  animation-name: display;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  -webkit-animation-name: display;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  span::before{
    animation-name: fromRight;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-name: fromRight;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
  }
}
@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.description:before {
  @extend %circle;
  top: 25rem;
  left: 3.5rem;
  width: 11rem;
  height: 11rem;
  transform: translateX(650%);
  border-color: #d53a9d;
 
}
.displayed::before{
  animation-name: fromRight;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  -webkit-animation-name: fromRight;
  -webkit-animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 1.5s;
}
@keyframes fromRight {
  from {
    transform: translateX(650%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes fromRight {
  from {
    transform: translateX(650%);
  }
  to {
    transform: translateX(0);
  }
}
@media (min-width: 1024px) {
  .description {
    max-width: 40rem;
    bottom:22rem;
  }
}
