@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");

%circle {
  display: block;
  position: relative;
  border-radius: 50%;
  opacity: 0.15;
  content: "";
  border: solid 1rem;
}
.description {
  font-family: "Oswald", sans-serif;
  position: relative;
  text-align: justify;
  bottom: 25rem;
  font-size: 1.5rem;
  padding: 0 1rem;
  span:before {
    @extend %circle;
    top: 10rem;
    left:0.5rem;
    width: 8rem;
    height: 8rem;
    border-color: #743ad5;
  }
}
.description:before {
  @extend %circle;
  top: 25rem;
  left: 3.5rem;
  width: 11rem;
  height: 11rem;
  border-color: #d53a9d;
}
@media (min-width: 1024px) {
  .description {
    max-width: 40rem;
  }
  
}
