.homeImage {
  padding-top: 3rem;

  img {
    position: relative;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    bottom: 13.2rem;
    left: 0.2rem;
  }
}

.homeImage::before {
  display: block;
  content: "";
  width: 13.4rem;
  height: 13.4rem;
  background: linear-gradient(to top, #743ad5, #d53a9d);
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .homeImage img {
    width: 14rem;
    height: 14rem;
    bottom: 14.2rem;
    left: 0.2rem;
  }
  .homeImage::before {
    width: 14.4rem;
    height: 14.4rem;
  }
}
