.homeImage {
  display: none;
  opacity: 0;
  img {
    position: relative;
    bottom: 20rem;
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    padding: 0.5rem 1rem;
  }
  &:before {
    position: relative;
    bottom: 5.3rem;
    left: 0.8rem;
    display: block;
    content: "";
    width: 13.4rem;
    height: 13.4rem;
    background: linear-gradient(to top, #9994a2, #d53a9d);
    border-radius: 50%;
  }
}
.displayed {
  @extend .homeImage;
}

@media (min-width: 1024px) {
  .homeImage {
    display: block;
    img {
      width: 14rem;
      height: 14rem;
    }
    &:before {
      width: 14.4rem;
      height: 14.4rem;
    }
  }
  .displayed {
    animation-name: display;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    -webkit-animation-name: display;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-delay: 2s;
  }
  @keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @-webkit-keyframes display {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
