@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");


.informations{
    width:90%;
    font-family: "Oswald", sans-serif;
    margin-top:5rem;
    padding:1rem;
    border-top: solid 0.1rem #000000;
}