%navBar {
  display: flex;
  position: sticky;
  background-color: #f0f0f0;
  color: #7a7a7a;
  height: 1.5rem;
  top: 0;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
  z-index: 5;
  border-bottom: solid 0.1rem;
  border-image-slice: 1;
  border-image-source: linear-gradient(-45deg, #743ad5, #d53a9d);
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  button {
    background: none;
    border: none;
    :hover {
      cursor: pointer;
    }
  }
}

.navBar {
  @extend %navBar;
}
.cl{
  color:#ffffff
}
.active {
  position: relative;
  top: 0.2rem;
  background: linear-gradient(-45deg, #743ad5, #d53a9d) !important;
  height: 3.2rem;
  width: 40%;
  border-radius: 3rem 3rem 0 0;
}

.darkMode {
  @extend %navBar;
  background-color: #191919;
}
