@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: 0.2rem;
  padding: 5.5rem 2rem;

  h3 {
    width: 100%;
    max-width: 20rem;
    border-bottom: solid 0.2rem #070707;
    color: #303030;
  }
}
