* {
  margin: 0;
  padding: 0;
}
.container {
  position: relative;
  top: 45rem;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.dark {
  background-color: #262626;
  color: #ededed;
  z-index: -3;
  transition: 0.5s;
}
.light {
  background-color: #ffffff;
  transition: 0.5s;
  color: #000000;
}
